label {
    font-weight: 400;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .0625rem;
    color: #55565b;
    font-size: .8571rem;
    line-height: 2.1;
}