
<div [formGroup]="informacionPersonal">
    <h6 class="mb-5 float-left col-lg-12">Información:</h6>
    <label for="depto" class="row col-md-12">
        <span class="col-md-4">Departamento</span>
        <select name="departamento" id="departamento" class="form-control col-md-4" [formControl]="informacionPersonal.controls.depto">
            <option selected></option>
            <option>COMERCIAL / VENTAS</option>
            <option>POSTVENTA</option>
            <option>POSTVENTA OPERATIVA (TECNICOS)</option>
            <option>Dpto4</option>
        </select>
    </label>
    <label for="antiguedad" class="row col-md-12">
        <span class="col-md-4">Antigüedad en la empresa</span>
        <select name="antiguedad" id="antiguedad" class="form-control col-md-4" [formControl]="informacionPersonal.controls.antiguedad">
            <option selected></option>
            <option>0 a 5 años</option>
            <option>6 a 10 años</option>
            <option>11 a 15 años</option>
            <option>Más de 16</option>
          </select>
    </label>
    <label for="edad" class="row col-md-12">
        <span class="col-md-4">Rango de edad</span>
        <select name="edad" id="edad" class="form-control col-md-4" [formControl]="informacionPersonal.controls.rangoEdad">
            <option selected></option>
            <option>20 a 25 años</option>
            <option>26 a 30 años</option>
            <option>31 a 35 años</option>
            <option>36 a 40 años</option>
            <option>Más de 41</option>
          </select>
    </label>
</div>