<h1 class="text-center mt-5">ANÁLISIS POR DEPARTAMENTO</h1>
<div class="d-flex justify-content-center">
    <label for="depto" class="row col-md-12 justify-content-center">
        <select name="departamento" id="departamento" class="form-control col-md-10"
            (change)="onChange($event.target.value)" *ngIf="ciudad == 'gdl'">
            <option selected>ADMINISTRACIÓN COMERCIAL</option>
            <option>ADMINISTRACIÓN POSTVENTA</option>
            <option>POSTVENTA OPERATIVA (TECNICOS)</option>
            <option>CAPITAL HUMANO</option>
            <option>COMERCIAL/ VENTAS</option>
            <option>CONTABILIDAD</option>
            <option>DIRECCIÓN/ STAFF</option>
            <option>LOGÍSTICA</option>
            <option>MANTENIMIENTO</option>
            <option>POSTVENTA OPERATIVA</option>
            <option>TALLER Y ALMACÉN</option>
            <option>TIC'S</option>
        </select>
        <select name="departamento" id="departamento" class="form-control col-md-10"
            (change)="onChange($event.target.value)" *ngIf="ciudad == 'silao'">
            <option selected>COMERCIAL/VENTAS</option>
            <option>POSTVENTA</option>
            <option>POSTVENTA OPERATIVA (TECNICOS)</option>
        </select>

    </label>
</div>
<div class=" d-flex justify-content-center mt-5">

    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Promedio</div>
        <div class="card-body">
            <h1 class="card-text text-white">{{promedioDepartamento}}</h1>
        </div>
    </div>
</div>
<div class="content-wrapper pb-5">
    <section class="content-block pb-5" id="reporteGeneral">
        <div class="container">
            <div class="contact-container">
                <div class="row">
                    <div class="col-lg-12">
                        <p> <strong>Los reactivos que se encuentran con MENOR calificación son</strong></p>
                        <app-tabla [tablaInfo]="tablaMenorDpto"></app-tabla>
                    </div>
                    <div class="col-lg-12 mt-5 pt-5 border-top">
                        <p><strong>Los reactivos que se encuentran con MAYOR calificación son</strong></p>
                        <app-tabla [tablaInfo]="tablaMayorDpto"></app-tabla>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="col-lg-12 d-flex flex-column justify-content-center" *ngFor="let categoria of categorias; let i = index">
    <google-chart class="col-lg-12 d-flex justify-content-center" *ngIf="infoGraficas[i] && cambioDpto === 0" #chart
        class="mx-auto" [title]="categorias[i]" [type]="type" [data]="infoGraficas[i]" [columnNames]="columnNames"
        [options]="options" [width]="width" [height]="height">
    </google-chart>
    <!-- <div class="caja">
        <div>
            <p *ngFor="let preg of pregGpo[i]; let i = index" class="preg text-right girar">{{preg}}</p>
        </div>
    </div> -->

</div>