<div class="content-wrapper">
    <section class="content-block text-center">
        <div class="container">
            <div class="demo-wrapper content-block pb-0">
                <div class="block-heading">
                    <h2>Nuestros. <span class="blue-color">Servicios</span></h2>
                    <div class="divider-v2 blue-border"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- DIV -->

<section id="servicios" class="content-block p-0">

    <div class="container-fluid">
        <div class="content-slot alternate-block">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInLeft">
                        <img src="../../../assets/images/serv-1.jpg" alt="images">
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="text-wrap">
                        <h3>Operación y comercialización</h3>
                        <p>Analizamos el desempeño y evolución de las estrategias, planes
                            comerciales y mercadologicos, aplicando una metodología diseñada en
                            programas de Coaching para equipos Gerenciales y Jefaturas.</p>
                        <p>Revisión de los KPI´s que agreguen valor y estén alineados a la
                            estrategia comercial, creando un BSC (Balance Score Card) enfocado en el
                            logro de objetivos cuantitativos y cualitativos.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInRight">
                        <img src="../../../assets/images/serv-2.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrap">
                        <h3>Finanzas y Administración</h3>
                        <p>Ofrecemos Servicios de análisis a la calidad y confiabilidad de la
                            información financiera mediante revisiones estratégicas a tus
                            principales indicadores financieros, ayudando en la efectiva toma de
                            decisiones.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInLeft">
                        <img src="../../../assets/images/serv-3.png" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrap">
                        <h3>Capital Humano y Desarrollo Organizacional</h3>
                        <p>Contamos con las mejores herramientas de medición y evaluación del
                            Capital Humano.</p>
                        <p>Diseñamos y adaptamos programas de Desarrollo Organizacional basado en
                            tus necesidades ayudándote a crear una cultura y filosofía de trabajo
                            logrando así
                            mejores resultados con todos tus colaboradores.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInRight">
                        <img src="../../../assets/images/serv-4.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrap">
                        <h3>Atracción de Talento (Head Hunting) y Colocación de Profesionales</h3>
                        <p>En ADN Estrategias tenemos uno de los programas y métodos mas eficientes
                            del mercado laboral que permite la efectiva colocación del TALENTO
                            HUMANO</p>
                        <p>Contamos con un equipo de profesionales y un método eficiente de
                            evaluación que nos permite entregarte ternas de candidatos competitivos
                            que cumplan el perfil de tus necesidades.</p>
                        <p>También te ofrecemos el servicio de colocación de talento creando para ti
                            una mejor posibilidad de éxito, te acompañamos durante tu proceso, con
                            sesiones de coaching.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInLeft">
                        <img src="../../../assets/images/serv-5.jpg" alt="images">
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="text-wrap">
                        <h3>Auditoria a Procesos y Tecnologías de la Información</h3>
                        <p>Una de las áreas mas importantes en la organización es contar con
                            herramientas e infraestructura tecnológica competitiva, en ADN
                            Estrategias te ayudamos a diagnosticar tus sistemas de operación y tu
                            metodología de procesos creando manuales de operación que ahorren
                            tiempos y costos de capacitación.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInRight">
                        <img src="../../../assets/images/serv-6.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrap">
                        <h3>Control Interno, Medición del Riesgo, Sistema COSO</h3>
                        <p>Con 20 años de experiencia te ayudamos a diseñar y entregar programas
                            efectivos del control interno que ayudaran a tu empresa a disminuir el
                            riesgo, evitar mermas, mejorar el control y efectividad de la
                            información financiera y de operación apoyados en la metodología COSO
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="bg-stretch img-wrap wow slideInLeft">
                        <img src="../../../assets/images/serv-7.jpg" alt="images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="text-wrap">
                        <h3>Consejero Independiente y Gobierno Corporativo</h3>
                        <p>Consejero Independiente: Con 20 años de experiencia, capacidad y
                            prestigio profesional ofrecemos una asesoría enfocada en las políticas y
                            objetivos de la alta Dirección y el Consejo de Administración, aportando
                            valor agregado a tu organización desde una óptica distinta de los
                            negocios.</p>
                        <p>Gobierno Corporativo: Ayudamos a tu empresa a incorporar la figura de
                            Gobierno Corporativo en este proceso institucional que ayudara a
                            establecer los roles y responsabilidades de la Alta Dirección, Socios y
                            el Consejo de Administración.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>