<section id="firma" class="content-block text-center bg-blue mt-5 pb-0 pt-0">
    <div class="demo-wrapper content-block">
        <div class="heading firma">
            <h2>Nuestra. <span class="white-color"> Firma. </span></h2>
            <div class="divider-v2 white-border"></div>
            <div class="big text-gray-trasp">En ADN Estrategias, somos una firma donde te ayudaremos de forma
                estratégica a la mejora eficiente de tus operaciones y resultados agregando valor y
                competitividad en toda tu empresa a través de tus colaboradores siempre con nuestro
                lema <span class="bold white-color">“Hazlo con Pasión, Haz que las cosas
                    sucedan”.</span>
            </div>
        </div>
        <!-- <div class="heading bottom-space">
            <h3>-Sitio en construcción-</h3>
        </div> -->
    </div>
</section>