<div [formGroup]="reactivo" class="col-lg-12 p-0 row">
    <label class="col-lg-8 pl-4"
      for="gpo{{reactivo.controls.numGrupo.value}}-preg{{reactivo.controls.numPreg.value}}">{{ reactivo.controls.reactivo.value }}</label>
  <div class="col-md-4">
    <select 
      name="gpo{{reactivo.controls.numGrupo.value}}-preg{{reactivo.controls.numPreg.value}}"
      id="gpo{{reactivo.controls.numGrupo.value}}-preg{{reactivo.controls.numPreg.value}}"
      class="form-control m-1" formControlName="respuesta"  (change)="newSelected($event, reactivo)"
    >
    <option value=""></option>
    <option value="Nunca sucede">Nunca sucede</option>
    <option value="Algunas veces sucede">Algunas veces sucede</option>
    <option value="Con frecuencia sucede">Con frecuencia sucede</option>
    <option value="Siempre sucede">Siempre sucede</option>
    </select>
  </div>
</div>