<div id="wrapper">
  <div class="page-wrapper">
    <app-header-clima-laboral></app-header-clima-laboral>
    <app-banner-clima-laboral></app-banner-clima-laboral>
    <div class="content-wrapper">
      <section class="content-block text-center pt-0 pb-0">
        <div class="container">
          <div class="demo-wrapper content-block pb-0">
            <div class="block-heading">
              <h2>Clima. <span class="blue-color">Laboral</span></h2>
              <div class="divider-v2 blue-border"></div>
            </div>
            <div class="logo-empresa">
              <img class="imagen-empresa col-xs-5 col-sm-5 col-md-5" src="../../assets/images/Dimosa horizontal.jpg" alt="">
            </div>
            <p class="mt-3 bold">Silao, Guanajuato. 10 de marzo de 2020</p>
          </div>
        </div>
      </section>
    </div>
    <main>
      <div class="content-wrapper">
        <section class="content-block pb-0">
          <div class="container">
            <div class="contact-container">
              <div class="row">
                <div class="col-lg-12">
                  <form [formGroup]="FormClimaLaboral" (ngSubmit)="onSubmit($event)" name="submit-to-google-sheet">
                    <app-info-form [informacionPersonal]="FormClimaLaboral.controls.informacionPersonal"></app-info-form>
                    <app-instrucciones></app-instrucciones>
                    <ol id="climaLaboralForm" class="mt-5" start="{{limiteInf>78 ? 79 : limiteInf+1}}">
                      <div  *ngIf="limiteInf < 78 || show">
                        <li formArrayName="opcMultiple" *ngFor="let reactivo of opcMultiple.controls | slice: limiteInf : limiteSup; let i = index">
                          <div class="row" [formGroupName]="i">
                            <div class="col-md-12">
                              <app-reactivos-opc-mult
                                [reactivo]="reactivo"
                                [limiteInf]="limiteInf"
                                [limiteSup]="limiteSup"
                              ></app-reactivos-opc-mult>
                            </div>
                          </div>
                        </li>
                      </div>
                      <div *ngIf="limiteInf >= 78 || show">
                        <li class="no-vin pt-2" formArrayName="pregAbiertas" *ngFor="let reactivoAb of pregAbiertas.controls; let i = index">
                            <div class="form-group" [formGroupName]="i">
                              <app-reactivos-preg-abiertas
                                [reactivo]="reactivoAb"
                                [limiteInf]="limiteInf"
                                [limiteSup]="limiteSup"
                              ></app-reactivos-preg-abiertas>
                            </div>
                          </li>
                      </div>
                    </ol>
                    <div class="btn-container d-flex justify-content-end mt-5 row">
                      <button type="button"
                        *ngIf="limiteInf!==0"
                        id="btn_prev" class="btn btn-left-arrow ml-3 col-sm-4 mb-3"
                        (click)="prev()"
                      >
                        Anterior
                      </button>
                      <button type="button"
                        *ngIf="!(limiteSup>=90)"
                        id="btn_next" class="btn btn-arrow ml-3 col-sm-4 mb-3"
                        (click)="next()"
                      >
                          Siguiente
                      </button>
                      <button type="submit" [disabled]="FormClimaLaboral.invalid"
                        *ngIf="FormClimaLaboral"
                        id="btn_sent" class="btn btn-primary btn-alternate btn-arrow col-sm-4 ml-3 mb-3" data-toggle="modal"
                        data-target="#submitModal">
                        ENVIAR
                      </button>
                      
                      <!-- Modal -->
                      <!-- Modal -->
                      <div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
                        aria-labelledby="modalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalTitle">GUARDANDO</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body" id="modalBody">
                              Un momento más...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn" data-dismiss="modal" id="modalBtn"></button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <p id="error_message"> </p>
                    </div>
                    <p class="mb-5 text-right">*Es necesario contestar todas las preguntas para que el botón de ENVIAR se habilite.</p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
  </div>
</div>

<app-footer></app-footer>
