<div class="contact-title mt-5 background-blue">
    <h6 class="mb-5">Instrucciones</h6>
    <p>Bienvenido a la encuesta de clima laboral, por favor lee con atencion las preguntas y elige
      la respuesta que mas se asemeje con tu apreciacion de las situaciones, como podras interpretar tus
      calificativos: </p>
    <div class="data-table col-md-10 col-sm-10" style="border: none;">

      <table class="table">
        <tr class="row pl-1">
          <th class="respuesta p-x-0 py-1 align-middle col-lg-4 col-md-4">Nunca sucede</th>
          <th class="p-x-0 py-1 align-middle col-lg-4 col-md-4">No estoy de acuerdo</th>
          <th class="p-x-0 py-1 align-middle col-lg-2 col-md-2">1</th>
        </tr>
        <tr class="row pl-1">
          <th class="respuesta p-x-0 py-1 align-middle col-lg-4 col-md-4">Algunas veces sucede</th>
          <th class="p-x-0 py-1 align-middle col-lg-4 col-md-4">Poco de acuerdo</th>
          <th class="p-x-0 py-1 align-middle col-lg-2 col-md-2">2</th>
        </tr>
        <tr class="row pl-1">
          <th class="respuesta p-x-0 py-1 align-middle col-lg-4 col-md-4">Con frecuencia sucede</th>
          <th class="p-x-0 py-1 align-middle col-lg-4 col-md-4">Parcialmente de acuerdo</th>
          <th class="p-x-0 py-1 align-middle col-lg-2 col-md-2">3</th>
        </tr>
        <tr class="row pl-1">
          <th class="respuesta p-x-0 py-1 align-middle col-lg-4 col-md-4">Siempre sucede</th>
          <th class="p-x-0 py-1 align-middle col-lg-4 col-md-4">Estoy de acuerdo</th>
          <th class="p-x-0 py-1 align-middle col-lg-2 col-md-2">4</th>
        </tr>
      </table>
    </div>
  </div>