<div class="contact-title mt-5 background-blue">
    <h6 class="mb-5">Instrucciones</h6>
    <p>Bienvenido a la encuesta de clima laboral, por favor lee con atencion las preguntas y elige
      la respuesta que mas se asemeje con tu apreciacion de las situaciones, como podras interpretar tus
      calificativos: </p>
    <div class="data-table col-md-6 col-sm-12" style="border: none;">
      

      <table class="table">
        <tr class="col-5">
          <th class="respuesta p-x-0 py-1 align-middle">Nunca sucede</th>
          <th class="p-x-0 py-1 align-middle">No estoy de acuerdo</th>
          <th class="p-x-0 py-1 align-middle">1</th>
        </tr>
        <tr class="col-5">
          <th class="respuesta p-x-0 py-1 align-middle">Algunas veces sucede</th>
          <th class="p-x-0 py-1 align-middle">Poco de acuerdo</th>
          <th class="p-x-0 py-1 align-middle">2</th>
        </tr>
        <tr class="col-2">
          <th class="respuesta p-x-0 py-1 align-middle">Con frecuencia sucede</th>
          <th class="p-x-0 py-1 align-middle">Parcialmente de acuerdo</th>
          <th class="p-x-0 py-1 align-middle">3</th>
        </tr>
        <tr>
          <th class="respuesta p-x-0 py-1 align-middle">Siempre sucede</th>
          <th class="p-x-0 py-1 align-middle">Estoy de acuerdo</th>
          <th class="p-x-0 py-1 align-middle">4</th>
        </tr>
      </table>
    </div>
  </div>