.background-blue {
    background-color: #3d86c646;
    padding: 1rem;
}

p, table {
    font-weight: 400 !important;
    font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: .0625rem;
    color: #55565b;
    font-size: .8571rem;
}