<section>
    <div id="wrapper">
        <div class="page-wrapper">
            <app-header-clima-laboral></app-header-clima-laboral>
            <app-banner-clima-laboral></app-banner-clima-laboral>
            <div class="content-wrapper">
                <section class="content-block text-center pt-0 pb-0">
                    <div class="container">
                        <div class="logo-empresa">
                            <img class="imagen-empresa col-xs-5 col-sm-5 col-md-5"
                                src="../../assets/images/Dimosa horizontal.jpg" alt="">
                        </div>
                        <div class="demo-wrapper content-block pb-0">
                            <div class="block-heading">
                                <h2>Análisis General <span class="blue-color">Clima Organizacional Dimosa GDL
                                        2020</span></h2>
                                <div class="divider-v2 blue-border"></div>
                            </div>
                        </div>
                        <p>{{ textoIntroduccion }}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link active" routerLink="/resultados-dimosa-gdl/analisis-general">Análisis General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/resultados-dimosa-gdl/analisis-departamento">Análisis por Departamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/resultados-dimosa-gdl/analisis-general">Reporte General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/resultados-dimosa-gdl/analisis-general">Resumen Preguntas Abiertas</a>
        </li>
    </ul>


    <!-- ANÁLISIS GENERAL -->
    <app-analisis-general [tablaMayor]="tablaMayor" [tablaMenor]="tablaMenor"></app-analisis-general>
    <!-- POR DEPARTAMENTO -->
    <app-analisis-departamento [tablaMayor]="tablaMayor" [tablaMenor]="tablaMenor" [title]="title" [type]="type" [data]="data" [columnNames]="columnNames"
    [options]="options" [width]="width" [height]="height"></app-analisis-departamento>
    
    <app-footer></app-footer>
</section>