<section>
    <div id="wrapper">
        <div class="page-wrapper">
            <app-header-clima-laboral></app-header-clima-laboral>
            <app-banner-clima-laboral></app-banner-clima-laboral>
            <div class="content-wrapper">
                <section class="content-block text-center pt-0 pb-0">
                    <div class="container">
                        <div class="logo-empresa mt-5">
                            <img class="imagen-empresa col-xs-5 col-sm-5 col-md-5"
                                src="../../assets/images/Dimosa horizontal.jpg" alt="">
                        </div>
                        <div class="demo-wrapper content-block pb-0">
                            <div class="block-heading">
                                <h2>Análisis General <span class="blue-color">Clima Organizacional Dimosa GDL
                                        2020</span></h2>
                                <div class="divider-v2 blue-border"></div>
                            </div>
                        </div>
                        <p>{{ textoIntroduccion }}</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <section id="nuestroadn" class="content-block text-center pt-0">
        <div class="demo-wrapper content-block pb-0">
            <div class="heading bottom-space firma">
                <div class="divider-v2 blue-border"></div>
                <div class="tab-container tab-black tab-center-container">
                    <app-nav-tabs
                        [analisisGral]="analisisGral"
                        [analisisDeptos]="analisisDeptos"
                        [reporteGral]="reporteGral"
                        [resumenPregAbiertasr]="resumenPregAbiertasr"
                        (emitSelection)="handleSelection($event)">
                    ></app-nav-tabs>
                    <!-- Tab panes -->
                    <div class="top-m-space tab-content">
                        <app-analisis-general *ngIf="analisisGral" [tablaMayor]="tablaMayor" [tablaMenor]="tablaMenor" [ngClass]="{'active': analisisGral}"></app-analisis-general>
                        <app-analisis-departamento *ngIf="analisisDeptos" [ngClass]="{'active': analisisDeptos}"></app-analisis-departamento>
                        <app-reporte-general *ngIf="reporteGral" [ngClass]="{'active': reporteGral}"></app-reporte-general>
                        <app-resumen-preguntas *ngIf="resumenPregAbiertasr" [ngClass]="{'active': resumenPregAbiertasr}"></app-resumen-preguntas>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</section>