<section id="nuestroadn" class="content-block text-center">
    <div class="demo-wrapper content-block pb-0">
        <div class="heading bottom-space firma">
            <h2>Nuestro. <span class="blue-color"> ADN. </span></h2>
            <div class="divider-v2 blue-border"></div>
            <div class="tab-container tab-black tab-center-container">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-text-nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active big linea " data-toggle="tab" href="#tab17"
                            role="tab">Misión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link big linea" data-toggle="tab" href="#tab18"
                            role="tab">Visión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link big linea" data-toggle="tab" href="#tab19"
                            role="tab">Valores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link big linea" data-toggle="tab" href="#tab20"
                            role="tab">Competencias</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="top-m-space tab-content pad-r-2 pad-l-2">
                    <div class="tab-pane fade show active" id="tab17" role="tabpanel">
                        <p class="big">Crear Valor Agregado y Visión Estratégica para todos nuestros
                            Colaboradores, Clientes y Socios Comerciales mediante nuestras 7
                            opciones de servicios. </p>
                    </div>
                    <div class="tab-pane fade" id="tab18" role="tabpanel">
                        <p class="big">Ser una de las firmas de consultoría mas reconocidas en la Republica
                            Mexicana por la experiencia de mejores prácticas, resultados y el valor
                            agregado entregado a nuestros clientes.</p>
                    </div>
                    <div class="tab-pane fade" id="tab19" role="tabpanel">
                        <p class="big">Lealtad, Honestidad, Respeto, Liderazgo, Compromiso, Responsabilidad,
                            Humildad
                        </p>
                    </div>
                    <div class="tab-pane fade" id="tab20" role="tabpanel">
                        <p class="big">Trabajo en Equipo, Asertividad, Desarrollo de Lideres, Organización y
                            Planificación, Orientación al Cliente, Ejecución y Sentido de Urgencia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="heading bottom-space">
            <h3>-Sitio en construcción-</h3>
        </div> -->
    </div>
</section>