<!-- <nav class="navbar navbar-expand-lg navbar-light bg-white pl-5 py-0" id="contactHeaderBar">  
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" 
            target="_blank"
            href="https://api.whatsapp.com/send?phone=5213314079922">
            <span class="waituk-icon-phone-ring"></span> 3314079922
            <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" 
            target="_blank"
            href="mailto:direcciongeneral@adnestrategias.com.mx">
            <span class="waituk-icon-email1"></span>
            direcciongeneral@adnestrategias.com.mx
          </a>
        </li>
      </ul>
    </div>
  </nav> -->

  <nav class="p-static bg-gray d-lg-block d-none">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-lg-6 col-md-6 col-sm-6 float-left text-center-sm no-float-sm no-padding">
                <ul
                    class="i-list i-list-i-block i-list-i-block-sm i-list-i-block-no-hover pad-0-sm margin-bottom-0 float-left text-center">
                    <li>
                        <div class="dropdown mini-nav">
                            <a target="_blank"
                                href="https://api.whatsapp.com/send?phone=5213314079922"
                                class="nav-link"><span class="waituk-icon-phone-ring"></span>
                                3314079922</a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown mini-nav mini-nav-no-bg-hover">
                            <a target="_blank"
                                href="mailto:direcciongeneral@adnestrategias.com.mx"
                                class="nav-link"><span class="waituk-icon-email1"></span>
                                direcciongeneral@adnestrategias.com.mx</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>