<section class="visual">
    <div class="visual-inner header-height-cl header-banner-custom parallax" data-stellar-background-ratio="0.55">
      <div class="fullscrean-containter">
        <div class="visual-text-large text-center visual-center">
          <div class="visual-title">
            <img src="../../../assets/images/logo-adn.svg" class="logo-banner" height="1rem" width="auto" alt="">
            <h2 class="text-white pad-top-1">ANÁLISIS Y DESARROLLO DE NEGOCIOS</h2>
            <div class="heading bottom-space">
              <h3 class="text-white-trasp">Estrategias. <span> Planes. </span> Metodologías.
              </h3>
            </div>
          </div>
          <div class="breadcrumb-block">
          </div>
        </div>
      </div>
    </div>
  </section>