nav#headerNavBar.navbar {
    padding: 0;
    min-height: 6.063rem;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
}



nav#headerNavBar.navbar .navbar-nav li {
    text-transform: uppercase;
}

nav#headerNavBar.navbar .navbar-nav > li:last-child {
    margin-right: 2rem;
}