<nav class="navbar navbar-expand-lg navbar-toggleable-md no-border-radius no-margin mega-menu-multiple"
    id="navbar-inner-container">
    <form action="http://html.waituk.com/roxine/mega-menu-5.html" id="top-search"
        class="no-margin top-search">
        <div class="form-group no-margin">
            <input class="form-control no-border" id="search_term" name="search_term"
                placeholder="Type & Press Enter" type="text">
        </div>
    </form>
    <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse"
        data-target="#mega-menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto m-sm-auto" href="/"> <img class="logo"
            src="../../../assets/images//logo-letras-blanco.svg" alt="roxine"> <img class="logo"
            src="../../../assets/images/logo-letras-negro.svg" alt="roxine"> </a>
    <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
        <ul class="nav navbar-nav">
            <li>
                <a class="link-white" href="#servicios"> Servicios </a>
            </li>
            <li>
                <a class="link-white" href="#nuestroadn"> Nuestro ADN </a>
            </li>
            <li>
                <a class="link-white" href="#firma"> Nuestra Firma </a>
            </li>
            <li>
                <a class="link-white" href="#contacto"> Contacto </a>
            </li>
        </ul>
    </div>
</nav>