<div id="wrapper">
    <div class="page-wrapper">
        <header class="fixed-top main-header header-white transparent" id="waituk-main-header">
            <div id="nav-section">
                <div class="mega-menus top-header">
                    <app-contact-info-nav-bar></app-contact-info-nav-bar>
                </div>
                <div class="bottom-header container-fluid mega-menus" id="mega-menus">
                    <app-header></app-header>
                </div>
            </div>
        </header>
        <main>
            <app-banner></app-banner>
            <app-servicios></app-servicios>
            <app-adn></app-adn>
            <app-firma></app-firma>
        </main>
    </div>
    <app-footer></app-footer>
</div>
<!-- search form wrapper -->
<div class="search-form-wrapper">
    <a href="#" class="nav-search-link close"><span class="waituk-icon-android-close"></span></a>
    <div class="holder">
        <input type="search" class="form-control form-control-v1" placeholder="Enter Your Search">
        <button type="submit"><span class="waituk-icon-search"></span></button>
    </div>
</div>