<h1 class="text-center mt-5">REPORTE GENERAL</h1>

    <div class=" d-flex justify-content-center mt-5">

        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Promedio</div>
            <div class="card-body">
                <h1 class="card-text text-white">{{promedioGeneral}}</h1>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <google-chart #reporteGeneral
            class="mx-auto"
            [title]="title"
            [type]="type"
            [data]="data"
            [columnNames]="columnNames"
            [options]="options"
            [width]="width"
            [height]="height"
        >
        </google-chart>
        <google-chart #reporteGeneralGrupos
            class="mx-auto"
            [title]="tituloGrupos"
            [type]="tipoGrupos"
            [data]="datosGrupos"
            [columnNames]="columnasGrupos"
            [width]="anchoGrupos"
            [height]="altoGrupos"
        >
        </google-chart>
</div>
<div class="col-lg-12 d-flex flex-column justify-content-center" *ngFor="let categoria of categorias; let i = index">
    <google-chart class="col-lg-12 d-flex justify-content-center" *ngIf="infoGraficas[i]"
        #chart class="mx-auto" [title]="categorias[i]" [type]="typeDpto" [data]="infoGraficas[i]"
        [columnNames]="columnNamesDpto" [options]="optionsDpto" [width]="width" [height]="height">
    </google-chart>
</div>