<!-- Nav tabs -->
<ul class="nav nav-tabs tab-text-nav" role="tablist">
    <li class="nav-item pointer" (click)="emitSelection.emit('analisisGral')">
        <a class="nav-link big linea" role="tab">Análisis General</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('analisisDeptos')">
        <a class="nav-link big linea" role="tab">Análisis por Departamento</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('reporteGral')">
        <a class="nav-link big linea" role="tab">Reporte General</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('resumenPregAbiertasr')">
        <a class="nav-link big linea" role="tab">Resumen Preguntas
            Abiertas</a>
    </li>
</ul>