<!-- Nav tabs -->
<ul class="nav nav-tabs tab-text-nav" role="tablist">
    <li class="nav-item pointer" (click)="emitSelection.emit('analisisGral')">
        <a class="nav-link big linea" role="tab" [ngClass]="{'active': analisisGral}">Análisis General</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('analisisDeptos')">
        <a class="nav-link big linea" role="tab" [ngClass]="{'active': analisisDeptos}">Análisis por Departamento</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('reporteGral')">
        <a class="nav-link big linea" role="tab" [ngClass]="{'active': reporteGral}">Reporte General</a>
    </li>
    <li class="nav-item pointer" (click)="emitSelection.emit('resumenPregAbiertas')">
        <a class="nav-link big linea" role="tab" [ngClass]="{'active': resumenPregAbiertas}">Resumen Preguntas
            Abiertas</a>
    </li>
</ul>